@font-face {
    font-family: "Roboto Condensed";
    src: url("/static/fonts/RobotoCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("/static/fonts/RobotoCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    position: relative;
    background: #f6fcff;
    overflow-y: hidden;
    overflow-x: hidden;
}

#body-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    align-items: stretch;
}

#header {
    width: 100%;
    flex: 0 0 65px;
    background: #84d2f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #333333;
    padding: 12px 26px;
    margin: 0;
    display: inline-block;
}

h2 {
    color: #333333;
    margin: 12px 26px;
    border-bottom: 5px solid #84d2f6;
    width: fit-content;
    display: inline-block;
}

h2 a {
    color: #333333;
    border-bottom: 5px solid #ffffff;
    width: fit-content;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.row {
    flex-direction: row;
}

button {
    text-decoration: none;
    background-color: #84d2f6;
    font-size: 1em;
    color: #333333;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    border-radius: 5px;
    padding: 4px 8px;
    height: fit-content;
}

#evaluate {
    float: right;
    margin: 0 26px;
}

svg {
    align-self: center;
    overflow: visible;
    padding: 30px 50px;
}

#state-table {
    margin: 20px;
    height: 150px;
    align-self: center;
    overflow: scroll;
}

#test-square {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #84d2f6;
    top: 150px;
    left: 50px;
}

#test-square1 {
    height: 50px;
    width: 50px;
    background-color: wheat;
    top: 150px;
    left: 200px;
}

.gates {
    position: sticky;
    width: 517px;
    height: 94px;
    left: 766px;
    top: 403px;

    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 52px;

    color: #333333;
}

.gates-header {
    position: absolute;
    width: 617px;
    height: 74px;
    left: 744px;
    top: 393px;

    background: #84d2f6;
}

/* .gates-container {
    position: absolute;
    width: 617px;
    height: 388px;
    left: 744px;
    top: 393px;

} */

.gates-controller {
    position: absolute;
    width: 419px;
    height: 284px;
    left: 787px;
    top: 497px;
}
