{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>QuVis</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="{% static 'js/libs/numeric.js' %}"></script>
        <script src="{% static 'js/libs/processing.js' %}"></script>
        <script src="{% static 'js/bundle.js' %}"></script>
        <script src="{% static 'js/milan.js' %}"></script>
        <script src="{% static 'js/libs/d3-scale-radial.js' %}"></script>
    </head>

    <body>
        <div id="header">
            <h1>QuVis</h1>
        </div>
        <div class="container" style="flex-direction: row;">
            <div id="circuit-composer" style="flex-grow: 8;">
                <h2>Circuit Composer</h2>
            </div>
            <div
                class="container"
                style="flex-direction: column; flex-grow: 1;"
            >
                <div id="add-gates">
                    <h2>Add Gates</h2>
                </div>
                <div
                    id="state-probabilities"
                    class="container"
                    style="flex-direction: column;"
                >
                    <h2>State Probabilities</h2>
                    <svg
                        width="350"
                        height="350"
                        font-family="sans-serif"
                        font-size="14"
                        style="
                            align-self: center;
                            overflow: visible;
                            padding: 35px 20px;
                        "
                    ></svg>
                    <script>
                        var svg = d3.select("svg"),
                            width = +svg.attr("width"),
                            height = +svg.attr("height"),
                            innerRadius = 0,
                            outerRadius = Math.min(width, height) / 2,
                            g = svg
                                .append("g")
                                .attr(
                                    "transform",
                                    "translate(" +
                                        width / 2 +
                                        "," +
                                        height / 2 +
                                        ")"
                                );

                        var x = d3
                            .scaleBand()
                            .range([0, 2 * Math.PI])
                            .align(0);

                        var y = d3
                            .scaleRadial()
                            .range([innerRadius, outerRadius]);

                        var z = d3.scaleOrdinal().range(["#133c55"]);

                        d3.csv(
                            "{% static 'data/data.csv' %}",
                            function (d, i, columns) {
                                for (i = 1, t = 0; i < columns.length; ++i)
                                    t += d[columns[i]] = +d[columns[i]];
                                d.total = t;
                                return d;
                            },
                            function (error, data) {
                                if (error) throw error;

                                x.domain(
                                    data.map(function (d) {
                                        return d.State;
                                    })
                                );
                                y.domain([
                                    0,
                                    d3.max(data, function (d) {
                                        return d.total;
                                    }),
                                ]);
                                z.domain(data.columns.slice(1));

                                g.append("g")
                                    .selectAll("g")
                                    .data(
                                        d3.stack().keys(data.columns.slice(1))(
                                            data
                                        )
                                    )
                                    .enter()
                                    .append("g")
                                    .attr("fill", function (d) {
                                        return z(d.key);
                                    })
                                    .selectAll("path")
                                    .data(function (d) {
                                        return d;
                                    })
                                    .enter()
                                    .append("path")
                                    .attr(
                                        "d",
                                        d3
                                            .arc()
                                            .innerRadius(function (d) {
                                                return y(d[0]);
                                            })
                                            .outerRadius(function (d) {
                                                return y(d[1]);
                                            })
                                            .startAngle(function (d) {
                                                return x(d.data.State);
                                            })
                                            .endAngle(function (d) {
                                                return (
                                                    x(d.data.State) +
                                                    x.bandwidth()
                                                );
                                            })
                                            .padAngle(0.01)
                                            .padRadius(innerRadius)
                                    );

                                var label = g
                                    .append("g")
                                    .selectAll("g")
                                    .data(data)
                                    .enter()
                                    .append("g")
                                    .attr("text-anchor", "middle")
                                    .attr("transform", function (d) {
                                        return (
                                            "rotate(" +
                                            (((x(d.State) + x.bandwidth() / 2) *
                                                180) /
                                                Math.PI -
                                                90) +
                                            ")translate(" +
                                            (outerRadius + 30) +
                                            ",0)"
                                        );
                                    });

                                label
                                    .append("line")
                                    .attr("x2", -5)
                                    .attr("stroke", "#000");

                                label
                                    .append("text")
                                    .attr("transform", function (d) {
                                        return (x(d.State) +
                                            x.bandwidth() / 2 +
                                            Math.PI / 2) %
                                            (2 * Math.PI) <
                                            Math.PI
                                            ? "rotate(90)translate(0,16)"
                                            : "rotate(-90)translate(0,-9)";
                                    })
                                    .text(function (d) {
                                        return d.State;
                                    });

                                var yAxis = g
                                    .append("g")
                                    .attr("text-anchor", "middle");

                                var yTick = yAxis
                                    .selectAll("g")
                                    .data(y.ticks(5).slice(1))
                                    .enter()
                                    .append("g");

                                yTick
                                    .append("circle")
                                    .attr("fill", "none")
                                    .attr("stroke", "#000")
                                    .attr("r", y);

                                yTick
                                    .append("text")
                                    .attr("y", function (d) {
                                        return -y(d);
                                    })
                                    .attr("dy", "0.35em")
                                    .attr("fill", "none")
                                    .attr("stroke", "#fff")
                                    .attr("stroke-width", 5)
                                    .text(y.tickFormat(5, "s"));

                                yTick
                                    .append("text")
                                    .attr("y", function (d) {
                                        return -y(d);
                                    })
                                    .attr("dy", "0.35em")
                                    .text(y.tickFormat(5, "s"));

                                yAxis
                                    .append("text")
                                    .attr("y", function (d) {
                                        return -y(y.ticks(5).pop());
                                    })
                                    .attr("dy", "-1em");
                            }
                        );
                    </script>
                </div>
            </div>
        </div>

        <!-- Milan's code -->

        <div class="gates-container">
            <div class="wrapper">
                <gates>
                    <div class="gates-controller">
                        <table style="width: 100%;">
                            <tr>
                                <td>
                                    <img
                                        id="h-gate"
                                        src="{% static 'vis/images/gates/hgate.svg' %}"
                                        draggable="true"
                                        ondragstart="drag(event)"
                                    />
                                </td>
                                <td>
                                    <img
                                        class="x-gate"
                                        src="{% static 'vis/images/gates/xgate.svg' %}"
                                        draggable="true"
                                    />
                                </td>
                                <td>
                                    <img
                                        class="y-gate"
                                        src="{% static 'vis/images/gates/ygate.svg' %}"
                                        draggable="true"
                                    />
                                </td>
                                <td>
                                    <img
                                        class="z-gate"
                                        src="{% static 'vis/images/gates/zgate.svg' %}"
                                        draggable="true"
                                    />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img
                                        class="s-gate"
                                        src="{% static 'vis/images/gates/sgate.svg' %}"
                                        draggable="true"
                                    />
                                </td>
                                <td>
                                    <img
                                        class="sdag-gate"
                                        src="{% static 'vis/images/gates/sdaggate.svg' %}"
                                        draggable="true"
                                    />
                                </td>
                                <td>
                                    <img
                                        class="t-gate"
                                        src="{% static 'vis/images/gates/tgate.svg' %}"
                                        draggable="true"
                                    />
                                </td>
                                <td>
                                    <img
                                        class="tdag-gate"
                                        src="{% static 'vis/images/gates/tdaggate.svg' %}"
                                        draggable="true"
                                    />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img
                                        class="cnotup-gate"
                                        src="{% static 'vis/images/gates/cnotupgate.svg' %}"
                                        draggable="true"
                                    />
                                </td>
                                <td>
                                    <img
                                        class="cnotlow-gate"
                                        src="{% static 'vis/images/gates/cnotlowgate.svg' %}"
                                        draggable="true"
                                    />
                                </td>
                                <td>
                                    <img
                                        class="blank-gate"
                                        src="{% static 'vis/images/gates/blankgate.svg' %}"
                                        draggable="true"
                                    />
                                </td>
                                <td>
                                    <img
                                        class="blank-gate"
                                        src="{% static 'vis/images/gates/blankgate.svg' %}"
                                        draggable="true"
                                    />
                                </td>
                            </tr>
                        </table>
                    </div>
                </gates>
            </div>
        </div>

        <!-- QCSimulator code -->
        <div>
            <ul id="menubar" class="drop">
                <li>
                    Workspace
                    <ul>
                        <li>
                            <a href="#" onclick="window.open(window.location)"
                                >New</a
                            >
                        </li>
                        <li><a id="importJSON" href="#">Load</a></li>
                        <li><a id="exportJSON" href="#">Save</a></li>
                        <li>
                            Examples
                            <ul id="examples"></ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Circuit
                    <ul>
                        <li>
                            <a id="evaluate" href="#" title="Evaluate circuit">
                                Evaluate
                                <div style="float: right; font-size: 11px;">
                                    Enter
                                </div>
                            </a>
                        </li>
                        <li>
                            <a
                                id="compile"
                                href="#"
                                title="Compile circuit to gate"
                            >
                                Compile
                                <div style="float: right; font-size: 11px;">
                                    Ctrl+S
                                </div>
                            </a>
                        </li>
                        <li><a id="exportImage" href="#">Export Image</a></li>
                        <li><a id="exportMatrix" href="#">Export Matrix</a></li>
                        <li id="nqubits">
                            <span>Qubits</span>
                            <ul></ul>
                        </li>
                        <li><a id="reset" href="#">Reset</a></li>
                    </ul>
                </li>
                <li style="float: right;"><a id="about" href="#">About</a></li>
            </ul>
        </div>
        <div style="clear: both;">
            <div id="content" style="float: left;">
                <div id="toolbar">
                    <div class="std"></div>
                    <div class="user"></div>
                </div>
                <div>
                    <canvas id="canvas"></canvas>
                </div>
                <div id="progress">
                    <div></div>
                </div>
            </div>
            <div id="amplitudes-container">
                <!-- <div id="hide-impossible">(show all)</div> -->
                <div id="amplitudes-scrollbox">
                    <table id="amplitudes"></table>
                </div>
            </div>
        </div>
        <div id="modal">
            <div style="text-align: left;">
                <h1 style="text-align: center;">Quantum Circuit Simulator</h1>
                <!-- <p>
                    Written by <a href="http://www.davyw.com">Davy Wybiral</a>.
                    <br>
                    Contributions by <a href="http://molehair.noip.me">Jiman Hwang</a>
                </p>
                <p>
                    <h3>Purpose:</h3>
                    This is a quantum circuit simulator designed to function as a learning tool for anyone interested in quantum
                    computing.
                    It has a friendly GUI for constructing and evaluating quantum circuits.
                    Rather than constructing one simple circuit, it's designed to support modular circuit design.
                    Any circuit you make can be compiled into a gate for use in other circuits.
                    <br><br>
                    The default gates in use were chosen because they appear frequently in literature.
                    There does seem to be a mix of conventions regarding rotation gates. To avoid confusion,
                    this is the matrix used to construct all of the Rx gates used by this application:
                    <p style="text-align: center"><img src="images/r.png"></p>
                </p>
                <p>
                    <h3>The basics:</h3>
                    <ul>
                        <li>Click on the qubits to the left of the circuit wires to toggle the input state.</li>
                        <li>Click on a quantum gate (above the circuit wires) to select that gate type.
                            Then click on a circuit wire to place the selected gate there.</li>
                        <li>For gates over multiple qubits, such as the swap or QFT gates, click and drag across desired qubits.
                        </li>
                        <li>Right clicking will delete a gate.</li>
                    </ul>
                </p>
                <p>
                    <h3>Controls:</h3>
                    <ul>
                        <li>Any gate can be made into a controlled version of itself by selecting the control gate (the black
                            dot)
                            and dragging from the control qubit to the target gate.</li>
                        <li>Dragging a control onto an X gate will result in a CNot gate.</li>
                        <li>Multiple controls can be added to a single gate.</li>
                        <li>Dragging two controls to an X will result in a Toffoli gate.</li>
                        <li>Right clicking on a control will remove it from the gate without removing the gate itself.</li>
                    </ul>
                </p>
                <p>
                    <h3>Evaluate:</h3>
                    <ul>
                        <li>You can evaluate your circuit by either clicking the <b>Evaluate</b> option in the <b>Circuit</b>
                            menu or by pressing <b>Enter</b>.</li>
                        <li>Evaluating the circuit will apply the circuit to the current input state (on the left of the circuit
                            wires)
                            and display a table of resulting probabilities (on the right of the circuit wires).</li>
                        <li>Each line in the probabilities table is of the form "a+bi|x> p%" where "a+bi" is a complex number
                            (the amplitude),
                            "x" is a possible binary state for the entire system, and "p" is a percent probability that a
                            measurement would result in that state.</li>
                        <li>By default, states with 0% probability are hidden. Click "(show all)" above the table to display
                            zero and nonzero probabilities.</li>
                    </ul>
                </p>
                <p>
                    <h3>Compile:</h3>
                    <ul>
                        <li>You can compile your circuit by either clicking the <b>Compile</b> option in the <b>Circuit</b> menu
                            or by pressing <b>Ctrl+S</b>.</li>
                        <li>Compiling your circuit will create a gate containing the visible circuit to be used in larger
                            circuits.</li>
                        <li>Once compiled, you can double-click on the gate in the toolbar to open it's circuit.</li>
                        <li>Saving a gate with the same name as an existing one will overwrite the existing gate.
                            This does not update gates that use this circuit. They will need to be "recompiled" too.</li>
                    </ul>
                </p>
                <p>
                    <h3>Exporting:</h3>
                    <ul>
                        <li>You can export all of the gates you've created into a JSON format by clicking on the <b>Export
                                JSON</b>
                            option in the <b>Workspace</b> menu.</li>
                        <li>This exported JSON text can be reimported at a later time by clicking on the <b>Import JSON</b>
                            option in the <b>Workspace</b> menu and then pasting the JSON text into the prompt.</li>
                        <li>You can export the circuit diagram as an image by clicking the <b>Export Image</b> option in the
                            <b>Circuit</b> menu.</li>
                        <li>You can export the circuit as a CSV matrix of complex values by clicking the <b>Export Matrix</b>
                            option in the <b>Circuit</b> menu.</li>
                    </ul>
                </p>
                <p>
                    <h3>Resizing:</h3>
                    <ul>
                        <li>You can resize your circuit by changing the <b>Qubits</b> setting in the <b>Circuit</b> menu.</li>
                        <li>If the new size is smaller than the existing circuit, gates that don't fit will be removed.</li>
                    </ul>
                </p> -->
            </div>
        </div>
        <!-- <div>
            <h1>QuVis</h1>
        </div>
        <div>
            <h2>Circuit Diagram</h2>
        </div>
        <div>
            <h2>State Probabilities</h2>
            {% for qubit in qubits %}
            <div>
                <h3>
                    Qubit {{qubit.id}} has state 1 with probability
                    {{qubit.probability}}
                </h3>
            </div>

            {% endfor %}
        </div> -->
    </body>
</html>
