{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>QuVis</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="{% static 'js/libs/numeric.js' %}"></script>
        <script src="{% static 'js/libs/processing.js' %}"></script>
        <script src="{% static 'js/bundle.js' %}"></script>
        <script src="{% static 'js/milan.js' %}"></script>
        <script src="{% static 'js/libs/d3-scale-radial.js' %}"></script>
    </head>

    <body>
        <div id="body-container">
            <div id="header">
                <h1>QuVis</h1>
                <div style="float: right;">
                    <h2>
                        <a id="about" href="#">About</a>
                    </h2>
                </div>
            </div>
            <div class="container row" id="quvis-body">
                <div id="circuit-composer" style="flex-grow: 8;">
                    <div class="container row" id="circuit-composer-header">
                        <div>
                            <h2>Circuit Composer</h2>
                        </div>
                        <div style="display: inline-flex;">
                            <img
                                class="circle"
                                src="/static/images/circledb.svg"
                            />
                            <div id="p0">Probability state is 0</div>
                        </div>
                        <div style="display: inline-flex;">
                            <img
                                class="circle"
                                src="/static/images/circlelb.svg"
                            />
                            <div id="p1">Probability state is 1</div>
                        </div>

                        <button id="add-qubit" href="#" title="Add qubit">
                            Add Qubit
                        </button>
                    </div>

                    <div
                        class="container row"
                        style="align-items: center; margin-left: 10px;"
                    >
                        <div id="time" class="qubit-tag container">
                            <p>
                                time 7
                            </p>
                        </div>
                        <input
                            type="range"
                            min="1"
                            max="19"
                            value="19"
                            class="slider"
                            step="3"
                            id="myRange"
                        />
                    </div>
                    <div class="container row" id="content">
                        <div class="container" id="qubit-number"></div>
                        <div>
                            <canvas id="canvas"></canvas>
                            <div id="progress">
                                <div></div>
                            </div>
                        </div>

                        <div class="container" id="nqubits"></div>
                    </div>
                </div>
                <div class="container" style="flex-direction: column;">
                    <div id="add-gates">
                        <div class="container row center">
                            <h2>Add Gates</h2>
                            <button
                                id="reset"
                                href="#"
                                title="Delete All Gates"
                            >
                                Delete All Gates
                            </button>
                        </div>
                        <div id="toolbar"></div>
                    </div>
                    <div id="state-probabilities" class="container">
                        <h2 id="state-header">State Probabilities at Time 7</h2>
                        <div class="container row center">
                            <button id="hide-impossible">
                                Show All States
                            </button>
                            <button
                                id="evaluate"
                                href="#"
                                title="Evaluate circuit"
                            >
                                Update [Enter]
                            </button>
                        </div>

                        <svg
                            width="300"
                            height="300"
                            font-family="sans-serif"
                            font-size="14"
                        ></svg>
                        <div id="state-table"></div>
                    </div>
                </div>
            </div>
            <div id="modal">
                <div style="text-align: left;">
                    <h1 style="text-align: center;">
                        Quantum Circuit Simulator
                    </h1>
                    <p id="about-text">
                        Hello! Welcome to QuVis. <br />
                        QuVis is a visualization platform for novices to develop
                        the intuition behind creating quantum circuits for
                        quantum computers. <br />
                        To add gates to the circuit, click on the desired gate
                        from the Add Gate panel. <br />
                        Click on the Circuit Composer panel to apply the gate.
                        The bars in front of each gate illustrate how the gate
                        affects that qubit’s final probability. <br />
                        The State Probabilities panel lists all the possible
                        states for this circuit and their respective
                        probabilities. <br />
                        Hover the slider on top of gates to see how these
                        probabilities change over time. Good Luck!
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
